<!DOCTYPE html>
<html>

<head>
      <title>Marah Alhalabi BackEnd Task4</title>
      <link rel="stylesheet" href="css/style.css" />
</head>

<body class="body">
      <h2>{{>header}}</h2>

      <h2> HBS {{title}} page contents</h2>
      <h2> name is :{{name}} </h2>
      <h2> city is :{{city}} </h2>
      <img src={{img}} alt="">

      <div>{{>footer}}</div>
</body>

</html>