<!DOCTYPE html>
<html>

<head>
      <title>Marah Alhalabi BackEnd Task3</title>
      <link rel="stylesheet" href="css/style.css" />
</head>

<body>

      <footer>

            <p class="footer-p">copyright &COPY; 2024 Marah Alhalabi, The best company. all rights</p>
            <hr class="footer-hr">


      </footer>


</body>

</html>